<html>
    <head>
        <script src="libs/jquery.js"></script>
        <script src="libs/v6.13.0-dist/ol.js"></script>
        <link rel="stylesheet" href="libs/v6.13.0-dist/ol.css">
        <script src="libs/ol-layerswitcher-master/dist/ol-layerswitcher.js"></script>
        <link rel="stylesheet" href="libs/ol-layerswitcher-master/dist/ol-layerswitcher.css" />
        <script src="libs/ol-geocoder/ol-geocoder.js"></script>
        <link rel="stylesheet" href="libs/ol-geocoder/ol-geocoder.css" />
        <script src="libs/ol-popup/ol-popup.js"></script>
        <link rel="stylesheet" href="libs/ol-popup/ol-popup.css" />
        <link rel="stylesheet" href="libs/jquery-ui-1.12.1/jquery-ui.css">
        <script src="libs/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
        <script src="libs/jquery-ui-1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="css/tailStyle.css">
    </head>
    <body class="flex flex-row">
        <div class="bg-zinc-100 text-purple-700 basis-1/5 w-full h-screen border-zinc-400 rounded-xl shadow-blue-900">
            <div class="flex flex-col">
                <div id="logo" class="bg-zinc-400 w-full h-1/5"></div>
                <div id="titre"></div>
                <div id="connexion"></div>
                <div id="inscription"></div>
                <div>
                    <button id="fiche_parcellaire" class="hidden"><a target="display-frame" href="/fiche" >Fiche parcellaire</a></button>
                    <button id="fiche_sylvicole" class="hidden">Fiche sylvicole</button>
                    <button id="stats" class="hidden">Statistiques</button>          
                    <div class="flex flex-col">
                        <button onclick="wms_layers()" type="button" id="wms_layers_btn" class="basis-1/4">BASE DE DONNEES</button>
                        <button onclick="clear_all()" type="button" id="clear_btn" class="basis-1/4">REINITIALISER</button>
                        <button id="tout_detruire" class="btn" onclick="effacer_tout()" class="basis-1/4"></button>
                        <button onclick="show_hide_querypanel()" type="button" id="query_panel_btn" class="basis-1/4">☰ REQUETES</button>
                        <div id="legend"></div>
                        <button onclick="show_hide_legend()" type="button" id="legend_btn" class="btn btn-success btn-sm">☰ VOIR LEGENDE</button>
                        <button onclick="info()" type="button" id="info_btn" class="btn btn-success btn-sm">☰ ACTIVER INFOS</button>          
                        <select id="measuretype" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="select">Select Measure option</option>
                            <option value="length">Length (LineString)</option>
                            <option value="area">Area (Polygon)</option>
                            <option value="clear">Clear Measurement</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button onclick="wms_layers()" type="button" id="wms_layers_btn" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-800  group">☰ BASE DE DONNEES</button>
        </div>
        <div>
            <button onclick="info()" type="button" id="info_btn" class="flex items-center p-2 text-white rounded-lg  hover:bg-gray-800  group">☰ ACTIVER INFOS</button>
        </div>
        <div>
            <button onclick="show_hide_querypanel()" type="button" id="query_panel_btn" class="flex items-center p-2 text-white rounded-lg  hover:bg-gray-800  group">☰ REQUETES</button>
        </div>
        <div>
            <button onclick="clear_all()" type="button" id="clear_btn" class="flex items-center p-2 text-white rounded-lg  hover:bg-gray-800  group">☰ REINITIALISER</button>
        </div>


        <div class="bg-zinc-700 text-black-700 basis-4/5 w-full h-screen border-zinc-600">
            <div id="map" class="w-full h-screen">
                <div id="scale_bar"></div>
                <div id="cadre_frame" class="hidden">
                    <button id="imprimer" style="display: none;" onclick="imprimer_fiche_pr()">Imprimer/Enregistrer</button>
                    <button id="fermer" style="display: none;" onclick="fermer_cadre()">Fermer</button>
                    <iframe name="display-frame" id="framedis" style="width:100%;height:92%;border:none; z-index: 800;position: relative; top: 2%; display: none;">                 
                    </iframe>                
                </div>             
            </div>
        </div>
        <script src="js/map.js"></script>
    </body>
</html>