body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    width:100%;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  /* Classe pour le menu actif */
  .active {
    color: yellow; /* Changer la couleur du texte */
    text-decoration: underline; /* Souligner le texte */
  }
  .sticky-buttons {
    position: -webkit-sticky; /* Pour les navigateurs WebKit comme Safari */
    position: sticky;
    bottom: 0;
    background-color: #20232b; /* Assure-toi que le fond est visible sur le bas de la page */
    padding: 10px 20px;
    z-index: 10; /* Pour s'assurer que les boutons sont au-dessus des autres éléments */
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu-icon {
    display: none;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgba(255, 255, 255, 1);
    overflow-y: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  #map_visiere{
    left: 1%;
    width: 90%;
    height: 30%;
    border-width: 10px;
    border-color: white;
    border-radius: 20px;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px 3px 3px;
    margin-bottom: 15px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    margin-left: 0%;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow: auto;
    margin : 16px;
    padding: 5px 5px 5px 5px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 20px;
    margin: 20px 0;
  }
  .main-lignes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    color:black;
  }
  
  .card:first-child {
    background-color: #ffffff;
  }
  
  .card:nth-child(2) {
    background-color: #ffffff;
  }
  
  .card:nth-child(3) {
    background-color: #ffffff;
  }
  
  .card:nth-child(4) {
    background-color: #ffffff;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .material-icons-outlined {
    font-size: 45px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
  
  .charts-card {
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: yellow;
    font-size: 16px;
    margin-right: 8px;
  }
  .dialog-box {
    position: absolute;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
    height: auto;
  }
  
  .dialog-box button {
    margin: 5px;
  }
  
  .cancel {
    background-color: #f44336;
    color: white;
  }
  
  .save {
    background-color: #4caf50;
    color: white;
  }
  .editable-cell {
    border: 1px solid #ddd; /* Ajoute une bordure légère */
    padding: 10px; /* Ajoute du padding pour espacer le contenu */
    font-size: 14px; /* Définie une taille de police uniforme */
    text-align: center; /* Aligne le texte au centre */
  }
  
  /* Optionnel : personnaliser la cellule si elle contient un champ de saisie */
  .editable-cell input[type="date"] {
    width: auto; /* Fais en sorte que le champ de date occupe toute la largeur de la cellule */
    padding: 5px;
    font-size: 14px;
  }
  .editable-cell2 {
    border: 1px solid #ddd; /* Ajoute une bordure légère */
    padding: 2px; /* Ajoute du padding pour espacer le contenu */
    font-size: 10px; /* Définie une taille de police uniforme */
    text-align: center; /* Aligne le texte au centre */
  }
  
  /* Optionnel : personnaliser la cellule si elle contient un champ de saisie */
  .editable-cell2 input[type="date"] {
    width: auto; /* Fais en sorte que le champ de date occupe toute la largeur de la cellule */
    padding: 1px;
    font-size: 9px;
  }
  /* Style de base pour les grandes résolutions */
  .card-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .open-dialog-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.open-dialog-button:hover {
    background-color: #45a049;
}

/* Overlay */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Boîte de dialogue */
.dialog-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    /*max-width: 500px;  Limite la largeur de la boîte de dialogue */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.3s ease-out;
}

.dialog-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.dialog-box p {
    font-size: 16px;
}

.close-dialog-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-dialog-button:hover {
    background-color: #d32f2f;
}

.closer-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.closer-dialog:hover {
    color: #f44336;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  /* Adaptation pour les petits écrans */
  @media screen and (max-width: 768px) {
    
    #titre{
      display: none;
    }
  
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  
    .card {
        border-radius: 10px;
        flex-direction: column;
        background-color: #d5cdcd;
        color: black;
        margin-bottom: 15px;
      }
      
      .card-inner {
        width: 100%;
        display: flex;
        flex-direction: row; /* En colonne sur petits écrans */
        justify-content: start;
        justify-items: start;
     
      }
      #res_mise_en_p{
        width: 100%;
        display: flex;
        flex-direction: column; /* En colonne sur petits écrans */
        justify-items: center;
        justify-content: center;
      }
      
      .card-inner h3 {
        font-weight: bolder;
      }
      
      .card-inner p {
        margin: 5px 0;
      }
  
    .sticky-buttons {
      font-size: 16px;
    }
    #annee_th{
      display:none;
    }
  
    /*#fiche_th{
      display:none;
    }
     #fiche_td{
      display:none;
    }
    */
    #date_debut_th{
        display:none;
      }
    
      #date_fin_th{
        display:none;
      }
      #essence_th{
        display:none;
      }
      #taux_th{
          display:none;
        }
      
        #reliquat_th{
          display:none;
        }
    #annee_td{
      display:none;
    }
    
   
    #date_debut_td{
        display:none;
      }
      
      #date_fin_td{
        display:none;
      }
      #essence_td{
        display:none;
      }
      #taux_td{
          display:none;
        }
        
        #reliquat_td{
          display:none;
        }
  }
  
  
  
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Medium <= 992px */
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  
  
  
  
  